[submodule "tunnel/tools/wireguard-tools"]
	path = tunnel/tools/wireguard-tools
	url = https://git.zx2c4.com/wireguard-tools
[submodule "tunnel/tools/libwg-go/wireguard-go"]
	path = tunnel/tools/libwg-go/wireguard-go
	url = ../../development/wireguard-go.git
